@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme {
    --color-biru-tua: #33455b;
    --color-biru-sedang: #1b96fc;
    --color-biru-muda: #8ccfe4;
    --color-biru-footer-kepengurusan: #C5E7F1E5;
    --color-ungu-muda: #b0aaf0;
    --color-ungu-sedang: #ac7ce1;
    --color-abu-sedang: #7d91c8;
    --color-abu-muda: #D9D9D9;
    --font-poppins: Poppins;
    --font-optima: OptimaNova;
}

@font-face {
    font-family: 'OptimaNova';
    src: url('./assets/font/Optima.otf');
    font-weight: normal;
    font-style: normal;
}

@layer base {
body {
    font-family: var(--font-poppins);
    font-size: var(--text-xl);
}
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-biru-muda) inset !important;
  box-shadow: 0 0 0px 1000px var(--color-biru-muda) inset !important;
  -webkit-text-fill-color: #000 !important; /* warna teks */
  transition: background-color 5000s ease-in-out 0s;
}
