@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@theme {
  --color-biru-tua: #33455b;
  --color-biru-sedang2: #1e3a8a;
  --color-biru-sedang: #1b96fc;
  --color-biru-muda: #8ccfe4;
  --color-ungu-muda: #b0aaf0;
  --color-ungu-sedang: #ac7ce1;
  --color-abu-sedang: #7d91c8;
  --color-abu-muda: #d8d8d8;
  --color-kuning-tua: #eab20b;
  --font-poppins: Poppins;
  --font-optima: OptimaNova;
}

@font-face {
  font-family: 'OptimaNova';
  src: url('./assets/font/Optima.otf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    font-family: var(--font-poppins);
    font-size: var(--text-xl);
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-biru-muda) inset !important;
  box-shadow: 0 0 0px 1000px var(--color-biru-muda) inset !important;
  -webkit-text-fill-color: #000 !important; /* warna teks */
  transition: background-color 5000s ease-in-out 0s;
}
.custom-dot {
  width: 12px;
  height: 12px;
  background-color: #cbd5e0; /* gray-300 */
  border-radius: 9999px;
  display: inline-block;
  transition: transform 0.3s;
}

.custom-dot.swiper-pagination-bullet-active {
  background-color: black; /* blue-500 */
  transform: scale(1.3);
}
